﻿.Creationinfo {
    color: #111111;
    overflow: hidden;
    width: 300px;
    margin: auto;
    margin-bottom: 400px;
    margin-top: 50px;
    padding: 10px;
    background-color: gray;
    border-radius: 15px;
}

.Creationinfo .submit {
    float: right;
    margin-right: 7px;
}

.Username {
    padding-bottom: 5px;
}

    .Username .UserLabel {
        padding-right: 20px;
        font-size: 16px;
        font-weight: bold;
    }

.BirthdateInfo {
    padding-bottom: 5px;
}

    .BirthdateInfo .BirthdateLabel {
        padding-right: 27px;
        font-size: 16px;
        font-weight: bold;
    }

.GenderInfo {
    padding-bottom: 5px;
}

    .GenderInfo .GenderInfoLabel {
        padding-right: 41px;
        font-size: 16px;
        font-weight: bold;
    }

.ImageInfo {
    padding-bottom: 5px;
}

    .ImageInfo .ImageInfoLabel {
        font-size: 16px;
        font-weight: bold;
    }
