﻿body {
    background-color: #990433;
}

h2 {
    color: #111111; 
}

.MatchingUserInfo {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

    .MatchingUserInfo img {
        width: 400px;
        height: 300px;
        border-style: solid;
        padding-top: 10px;
    }

    .MatchingUserInfo h3 {
        color: darkgoldenrod;
        font-weight: bold;
        font-style: oblique;
    }

.ImageUserInfo {
    color: #AAAAAA;
}

.HotorNotClass {
    overflow: hidden;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;

}

.HotorNotClass input {
    color: black;
}

.YesButton {
    float: Right;
    background-color: green;
}

.NoButton {
    background: red;
    position: absolute;
}
