﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Match Finder 2000</title>
	<link rel="stylesheet" href="~/Content/themes/base/all.css" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
	<link href="~/Css/Master.css" rel="stylesheet" type="text/css"/>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Match Finder 2000", "AddUser", "Account", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/Account/AddUser">Home</a></li>
                </ul>
                <asp:loginview class="NavbarLogin" runat="server" viewstatemode="Disabled">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/Account/AddUser">Register</a></li>
                        <li><a href="~/Account/Login">Login</a></li>
                        <li>@User.Identity.Name</li>
                    </ul>

                </asp:loginview>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2015 - Match Finder 2000</p>
        </footer>
    </div>
</body>
</html>