﻿@using System.Web.Services.Protocols
@model Matcher.Models.MatchingModel
@{
    ViewBag.Title = "GetPerson";
    var imagePath = Model.MatchingUser.Image;
    int age = (DateTime.Now.Year - Model.MatchingUser.Birthdate.Year);
    if (Model.MatchingUser.Birthdate > DateTime.Now.AddYears(-age))
    {
        age--;
    }
    var gender = (Model.MatchingUser.IsMale) ? "male" : "female";
    var name = Model.MatchingUser.UserName;
}
<head>
    <link href="@Url.Content("~/Css/GetPerson.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Possible Match</h2>

    <div class="MatchingUserInfo">
        <h3>@name</h3>
        <div class="ImageUserInfo">
            <span id="AgeInfo">Age: @age</span>
            <span id="GenderInfo">|Gender: @gender</span>
        </div>
        <img src=@imagePath alt="Image of user" />
        <div class="HotorNotClass">
            @using (Html.BeginForm("Match", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.Hidden("userId", Model.CurrentUser.Id)
	            @Html.Hidden("otherUserId", Model.MatchingUser.Id)
	            @Html.Hidden("liked", false)
	            <input class="NoButton" type="submit" value="No" />
            }
            @using (Html.BeginForm("Match", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.Hidden("userId", Model.CurrentUser.Id);
                @Html.Hidden("otherUserId", Model.MatchingUser.Id);
                @Html.Hidden("liked", true);
                <input class="YesButton" type="submit" Value="Yes"/>
            }
        </div>
    </div>
</body>
