﻿@model Matcher.Models.MatchingModel
@{
    ViewBag.Title = "Match";
    var imagePath = Model.MatchingUser.Image;
    int age = (DateTime.Now.Year - Model.MatchingUser.Birthdate.Year);
    if (Model.MatchingUser.Birthdate > DateTime.Now.AddYears(-age))
    {
        age--;
    }
    var gender = (Model.MatchingUser.IsMale) ? "male" : "female";
    var name = Model.MatchingUser.UserName;
}

<h2>Match</h2>

<head>
    <link href="@Url.Content("~/Css/GetPerson.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>@Model.CurrentUser.UserName &#10084; @name</h1>
    <h2>Match Made</h2>
    <h3>This Person has also liked you</h3>
    <div class="MatchingUserInfo">
        <h3>@name</h3>
        <div class="ImageUserInfo">
            <span id="AgeInfo">Age: @age</span>
            <span id="GenderInfo">|Gender: @gender</span>
        </div>
        <img src=@imagePath alt="Image of user" />
        <div class="HotorNotClass">
            @using (Html.BeginForm("Match", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.Hidden("userId", Model.CurrentUser.Id)
                ;
                @Html.Hidden("otherUserId", Model.MatchingUser.Id)
                ;
                @Html.Hidden("liked", false)
                ;
                <input class="NoButton" type="submit" value="No" />
            }
            @using (Html.BeginForm("Match", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.Hidden("userId", Model.CurrentUser.Id)
                ;
                @Html.Hidden("otherUserId", Model.MatchingUser.Id)
                ;
                @Html.Hidden("liked", true)
                ;
                <input class="YesButton" type="submit" value="Yes" />
            }
        </div>
    </div>
</body>
