﻿@using System.Collections.Concurrent
@using Matcher.Models
@model Matcher.Models.RegistrationForm
@{
    ViewBag.Title = "AddUser";
}
<head>
    <link href="~/Css/AddPerson.css" rel="stylesheet" type="text/css" />
</head>
<h2>Account Creation</h2>

@using (Html.BeginForm("AddUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="Creationinfo">
        <script>
            $(function () {
                $("#BirthDate").datepicker();
            });
        </script>
        <div class="ValidationSummary">
            @Html.ValidationSummary()
        </div>
        <div class="Username">
            <span class="UserLabel">Username</span>
            <span class="UserTextBox">@Html.TextBoxFor(x => x.UserName)</span>
        </div>
        <div class="BirthdateInfo">
            <span class="BirthdateLabel">Birthdate</span>
            <span class="BirthdateText">@Html.TextBoxFor(x => x.BirthDate)</span>
        </div>
        <div class="GenderInfo">
            <span class="GenderInfoLabel">Gender</span>
            <span class="GenderInfoBox">@Html.EnumDropDownListFor(x => x.Gender)</span>
        </div>
        <div class="ImageInfo">
            <span class="ImageInfoLabel"> Profile Image</span>
            <span>@Html.TextBoxFor(x => x.Image, new { type = "file" })</span>
        </div>
        <input class="submit" type="submit" value="Submit" />
    </div>
}