﻿@using System.Collections.Concurrent
@using Matcher.Models
@model Matcher.Models.RegistrationForm
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<head>
    <link href="~/Css/AddPerson.css" rel="stylesheet" type="text/css" />
</head>
@using (Html.BeginForm("LoginAuthentication", "Account", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <div class="Creationinfo">
        <div class="ValidationSummary">
            @Html.ValidationSummary()
        </div>
        <div class="Username">
            <span class="UserLabel">Username</span>
            <span class="UserTextBox">@Html.TextBoxFor(x => x.UserName)</span>
        </div>
        <input class="submit" type="submit" value="Login"/>
    </div>
}

